{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}

{% block content %}
<h1>Control Selection Assistant Tool (CSAT)</h1>
<h2>Suggested Controls Report</h2>

{% for results, cases in resultByCases.items() %}
    {% if cases[0] |length == 0 %}
        {% set casesExist = False %}
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">Multiple effectiveness values were not detected!</h4>
        </div>
    {% else %}
        {% set casesExist = True %}
        <div class="alert alert-dark" style="background-color:whitesmoke;" role="alert">
        {% for i in range(0, cases |length) %}
            <h2><b>Case</b></h2>
            {% set case = cases[i] %}
            <!-- {% for controlAlt in case %}
                <p> {{ optionalControls[controlAlt[0]][0] }}</p>
                <p>&emsp; {{ data.columns[ ( (controlAlt[1] - 1) // 3 ) * 3 + 1  ] }}</p>
                <p>&emsp;&emsp; {{ data.iat[0, controlAlt[1]] }} = {{ controlAlt[2] }}</p>
            {% endfor %} -->

            <table class="table table-bordered table-light table-sm" style="table-layout: fixed; width: 100% ">
                <thead>
                    <tr>
                      <th scope="col" style="text-align: center; vertical-align: middle;">Control</th>
                      <th scope="col" style="text-align: center; vertical-align: middle;">Asset Name</th>
                      <th scope="col" style="text-align: center; vertical-align: middle;">Security Objective</th>
                      <th scope="col" style="text-align: center; vertical-align: middle;">Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for controlAlt in case %}
                        <tr>
                            <td style="text-align: center; vertical-align: middle;">{{ optionalControls[controlAlt[0]][0] }}</td>
                            <td style="text-align: center; vertical-align: middle;">{{ data.columns[ ( (controlAlt[1] - 1) // 3 ) * 3 + 1  ] }}</td>
                            <td style="text-align: center; vertical-align: middle;">{{ data.iat[0, controlAlt[1]] }}</td>
                            <td style="text-align: center; vertical-align: middle;">{{ controlAlt[2] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% if i != ((cases |length ) - 1 ) %}
                <hr>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% set strategyCost = [] %}
    {% for control in mandatoryControls %}
        {% set _ = strategyCost.append( control[2] ) %}   
    {% endfor %}
    {% for result in results %}
        {% if loop.index == 1 %}
            {% for optIndex in result %}
                {% set _ =  strategyCost.append( optionalControls[optIndex][2] ) %}  
            {% endfor %}
        {% endif %}
    {% endfor %}

    <div class="alert alert-primary" role="alert">
        <h4 class="alert-heading"><b>Cost of Each Combination: {{ strategyCost |sum }} </b></h4>
    </div>

    {% for result in results %}
        <div class="alert alert-success" role="alert">
        <h4 class="alert-heading"><b>Security Control Combination {{ loop.index }}</b></h4>
        {% set controlNames = [] %}    

        {% for control in mandatoryControls %}
            {% set _ = controlNames.append(control[0]) %}   
        {% endfor %}

        {% for optIndex in result %}
            {% set _ = controlNames.append(optionalControls[optIndex][0]) %}  
        {% endfor %}

        <ul>

        

        {% for x in controlNames |natsortList %}
            <li>{{ x }}</li>
        {% endfor %}

        </ul>

        </div>

    {% endfor %}

    {% if casesExist %}
    </div>
    {% endif %}
{% endfor %}

{% endblock %}